.nav-container{
    height: 60px;
    
}
.wrapper{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    flex: 1;
}
.language{
    font-size: 14;
    cursor: pointer;
}
.search-container{
    border: 0.5px solid lightgray;
    align-items: center;
    display: flex;
    margin-left: 25px;
    padding: 5px;
}
.input{
    border: none;
}
.center{
    text-align: center;
    flex: 1;
}
.logo{
    font-weight: bold;
}
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}.menu-item{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}